.desc-title {
  text-align: center;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.1em;
  color: #7063a6;
  padding: 8px 32px;
  background: #dbd8e9;
  border-radius: 16px;
  width: 116px;
  z-index: 10;
}
