.badaniecommunity {
  padding: 96px 0;
  &__head {
    margin-top: 48px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: rgba(76, 60, 144, 1);
  }
  &__text {
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #000;
    text-align: justify;
    letter-spacing: -0.02em;
    opacity: 0.75;
    margin-top: 24px;
    margin-bottom: 88px;
  }
  &__text-second {
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #000;
    text-align: justify;
    letter-spacing: -0.02em;
    opacity: 0.75;
    margin-top: 24px;
  }
}
