@media screen and(max-width: 480px) {
  .blogcomponent {
    padding: 96px 0;
    &__info {
      margin-bottom: 64px;
      &-list {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
        &-item {
          display: flex;
          flex-direction: column;
          &-img {
            width: 100%;
          }
          &-head {
            margin-top: 16px;
            font-family: Manrope;
            font-style: normal;
            font-weight: 800;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -0.02em;
            text-decoration-line: underline;
            max-width: 376px;
            color: #4c3c90;
          }
          &-description {
            font-family: Manrope;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 32px;
            text-align: justify;
            opacity: 0.75;
            margin-top: 16px;
            max-width: 376px;
          }
          &-date {
            display: flex;
            gap: 8px;
            margin-top: 16px;
            margin-bottom: 20px;
            &-day {
              font-family: Manrope;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 14px;
              text-align: justify;
              opacity: 0.75;
            }
            &-time {
              font-family: Manrope;
              font-style: normal;
              font-weight: 800;
              font-size: 14px;
              line-height: 14px;
              text-align: justify;
              letter-spacing: -0.02em;
              opacity: 0.75;
            }
          }
          &-avatar {
            display: flex;
            gap: 16px;
            align-items: center;
            &-block {
              display: flex;
              flex-direction: column;
              &-head {
                font-family: Manrope;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                text-align: justify;
                margin-bottom: 4px;
              }
              &-text {
                font-family: Manrope;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                text-align: justify;
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }
  .blogcomponent__list {
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    &-item {
      max-width: calc((100% - 64px) / 2);
      &-img {
        width: 100%;
        margin-bottom: 32px;
      }
      &-head {
        font-family: Manrope;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.02em;
      }
      &-text {
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        text-align: justify;
        opacity: 0.75;
        margin-top: 8px;
      }
    }
  }
}
@media screen and(min-width: 865px) {
  .blogcomponent {
    padding: 96px 0;
    &__info {
      margin-bottom: 64px;
      &-list {
        display: flex;
        justify-content: space-between;
        &-item {
          display: flex;
          flex-direction: column;
          &-img {
            width: 100%;
          }
          &-head {
            margin-top: 16px;
            font-family: Manrope;
            font-style: normal;
            font-weight: 800;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -0.02em;
            text-decoration-line: underline;
            max-width: 376px;
            color: #4c3c90;
          }
          &-description {
            font-family: Manrope;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 32px;
            text-align: justify;
            opacity: 0.75;
            margin-top: 16px;
            max-width: 376px;
          }
          &-date {
            display: flex;
            gap: 8px;
            margin-top: 16px;
            &-day {
              font-family: Manrope;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 14px;
              text-align: justify;
              opacity: 0.75;
            }
            &-time {
              font-family: Manrope;
              font-style: normal;
              font-weight: 800;
              font-size: 14px;
              line-height: 14px;
              text-align: justify;
              letter-spacing: -0.02em;
              opacity: 0.75;
            }
          }
          &-avatar {
            display: flex;
            gap: 16px;
            align-items: center;
            margin-top: auto;
            &-block {
              display: flex;
              flex-direction: column;
              &-head {
                font-family: Manrope;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                text-align: justify;
                margin-bottom: 4px;
              }
              &-text {
                font-family: Manrope;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                text-align: justify;
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }
  .blogcomponent__list {
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    &-item {
      max-width: calc((100% - 64px) / 2);
      &-img {
        width: 100%;
        margin-bottom: 32px;
      }
      &-head {
        font-family: Manrope;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.02em;
      }
      &-text {
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        text-align: justify;
        opacity: 0.75;
        margin-top: 8px;
      }
    }
  }
}
