@media screen and(max-width: 480px) {
  .mapscontacts {
    width: 100%;
  }
  .contactslink {
    padding: 96px 0;
    &__head {
      margin-top: 16px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 45px;
      letter-spacing: -0.02em;
      color: rgba(76, 60, 144, 1);
    }
    &__list {
      margin-top: 48px;
      margin-bottom: 96px;
      display: flex;
      align-items: center;
      gap: 35px;
    }
    &__notification {
      display: flex;
      gap: 70px;
      flex-direction: column;
      &-item {
        padding: 32px;
        background: #edebf4;
        position: relative;
        &-head {
          font-family: Manrope;
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 32px;
          letter-spacing: -0.02em;
          color: rgba(76, 60, 144, 1);
          &-second {
            margin-top: 20px;
            font-family: Manrope;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -0.02em;
            color: rgba(76, 60, 144, 1);
          }
        }
        &-text {
          margin-top: 10px;
          font-family: Manrope;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 48px;
          text-align: justify;
          letter-spacing: -0.02em;
          opacity: 0.75;
          &-mail {
            font-family: Manrope;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 48px;

            text-align: justify;
            letter-spacing: -0.02em;
            text-decoration-line: underline;
            opacity: 0.75;
          }
        }
        &-img {
          position: absolute;
          bottom: 100%;
          left: 0;
          transform: rotate(180deg);
        }
      }
    }
  }
}
@media screen and(min-width: 865px) {
  .mapscontacts {
    height: 500px;
    background: silver;
  }
  .contactslink {
    padding: 96px 0;
    &__head {
      margin-top: 16px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 64px;
      line-height: 72px;
      letter-spacing: -0.02em;
      color: rgba(76, 60, 144, 1);
    }
    &__list {
      margin-top: 48px;
      margin-bottom: 96px;
      display: flex;
      align-items: center;
      gap: 64px;
    }
    &__notification {
      display: flex;
      gap: 55px;
      &-item {
        padding: 32px;
        background: #edebf4;
        position: relative;
        &-head {
          font-family: Manrope;
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 32px;
          letter-spacing: -0.02em;
          color: rgba(76, 60, 144, 1);
          &-second {
            margin-top: 20px;
            font-family: Manrope;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -0.02em;
            color: rgba(76, 60, 144, 1);
          }
        }
        &-text {
          margin-top: 10px;
          font-family: Manrope;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 48px;
          text-align: justify;
          letter-spacing: -0.02em;
          opacity: 0.75;
          &-mail {
            font-family: Manrope;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 48px;

            text-align: justify;
            letter-spacing: -0.02em;
            text-decoration-line: underline;
            opacity: 0.75;
          }
        }
        &-img {
          position: absolute;
          bottom: 100%;
          left: 0;
          transform: rotate(180deg);
        }
      }
    }
  }
}
