@media screen and(max-width: 480px) {
  .informations {
    padding-top: 97px;
    padding-bottom: 97px;
  }
  .informations__offer {
    &-list {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      &-item {
        &-offerlist {
          display: flex;
          gap: 54px;
          flex-wrap: wrap;
          max-width: 405px;
          position: relative;
          align-items: flex-end;
          z-index: 10;
          &-item {
            width: calc((100% - 54px) / 2);
            &-text {
              font-family: "Manrope";
              font-style: normal;
              font-weight: 800;
              font-size: 24px;
              line-height: 28px;
              letter-spacing: -0.02em;
              color: rgba(76, 60, 144, 1);
              max-width: 168px;
            }
          }
        }
        &-img {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
      &-item:last-child {
        margin-top: 45px;
      }
    }
    &-head {
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.02em;
      color: #4c3c90;
      margin-top: 16px;
      width: 100%;
      &-span {
        font-weight: 800;
      }
    }
    &-text {
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: -0.02em;
      opacity: 0.75;
      margin-top: 24px;
      width: 100%;
    }
    &-buttons {
      display: flex;
      gap: 24px;
      margin-top: 24px;
      flex-direction: column;
      align-items: center;
    }
  }
  .informations__reference {
    position: relative;
    margin-top: 140px;
    &-absolute {
      display: none;
    }
    &-head {
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 64px;
      line-height: 72px;
      letter-spacing: -0.02em;
      color: #4c3c90;
      margin-top: 16px;
    }
    &-list {
      display: flex;
      gap: 50px;
      margin-top: 50px;
      overflow-x: hidden;
      &-item {
        background: #edebf4;
        padding: 32px;
        position: relative;
        &-img {
          margin-bottom: 15px;
        }
        &-head {
          font-family: Manrope;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 20px;
          letter-spacing: -0.02em;
          margin-bottom: 20px;
        }
        &-text {
          font-family: Manrope;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 32px;
          text-align: justify;
          letter-spacing: -0.02em;
          opacity: 0.75;
          max-width: 400px;
        }
        &-icon {
          position: absolute;
          bottom: 100%;
          left: 0;
          transform: rotate(180deg);
        }
      }
    }
  }
}
@media screen and(min-width: 865px) {
  .informations {
    padding-top: 97px;
    padding-bottom: 97px;
  }
  .informations__offer {
    &-list {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
      &-item {
        position: relative;
        display: flex;
        flex-direction: column;
        &-offerlist {
          display: flex;
          gap: 54px;
          flex-wrap: wrap;
          max-width: 405px;
          position: relative;
          align-items: flex-end;
          z-index: 10;
          &-item {
            width: calc((100% - 54px) / 2);
            &-text {
              font-family: "Manrope";
              font-style: normal;
              font-weight: 800;
              font-size: 24px;
              line-height: 28px;
              letter-spacing: -0.02em;
              color: rgba(76, 60, 144, 1);
              max-width: 168px;
            }
          }
        }
        &-img {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
      &-item:first-child {
        width: 480px;
      }
      &-item:last-child {
        margin-top: 45px;
        align-items: flex-start;
      }
    }
    &-head {
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.02em;
      color: #4c3c90;
      margin-top: 16px;
      max-width: 500px;
      &-span {
        font-weight: 800;
      }
    }
    &-text {
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: -0.02em;
      opacity: 0.75;
      margin-top: 24px;
      max-width: 324px;
    }
    &-buttons {
      display: flex;
      gap: 24px;
      margin-top: 24px;
    }
  }
  .informations__reference {
    position: relative;
    margin-top: 140px;
    &-absolute {
      position: absolute;
      top: -90px;
      right: 0;
    }
    &-head {
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 64px;
      line-height: 72px;
      letter-spacing: -0.02em;
      color: #4c3c90;
      margin-top: 16px;
      margin-bottom: 120px;
    }
    &-list {
      display: flex;
      gap: 50px;
      margin-top: 50px;
      overflow-x: hidden;
      &-item {
        position: relative;
        background: #edebf4;
        padding: 32px;
        height: 400px;
        // min-width: 400px;
        &-img {
          margin-bottom: 15px;
          height: 70px;
          width: auto;
        }
        &-head {
          font-family: Manrope;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 20px;
          letter-spacing: -0.02em;
          margin-bottom: 20px;
        }
        &-text {
          font-family: Manrope;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 32px;
          text-align: justify;
          letter-spacing: -0.02em;
          opacity: 0.75;
        }
        &-icon {
          position: absolute;
          bottom: 100%;
          left: 0;
          transform: rotate(180deg);
        }
      }
    }
  }
}
.informations__offer-list-item-img mask {
  fill: transparent;
}
.test-color {
  transition: all 250ms linear;
}
.test {
  position: relative;
  transition: all 250ms linear;
  &:hover {
    position: relative;
    opacity: 1;
    fill: #4c3c90;
  }
  &:hover .test-color {
    opacity: 1;
    fill: #4c3c90;
  }
}
.block-info-stats {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    #4c3c90;
  &-head {
    color: rgba(219, 216, 233, 1);
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.02em;
  }
  &-text {
    color: rgba(219, 216, 233, 1);
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
  }
}
.chart-text {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #dbd8e9;
}
.chart-canvas {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  // padding: 30px;
}
.text-chart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 128px;
  line-height: 128px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #4c3c90;
}
