.sortresear {
  padding: 96px 0;
}
.sortresear__list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  &-item {
    &-head {
      margin-bottom: 24px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 800;
      font-size: 32px;
      line-height: 40px;
      text-align: justify;
    }
    &-filter {
      display: flex;
      flex-direction: column;
      gap: 24px;
      &-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        &-button {
          display: flex;
          justify-content: space-between;
          padding-bottom: 12px;
          align-items: center;
          appearance: none;
          background: none;
          border: none;
          border-bottom: 1px solid #dbd8e9;
          font-family: Manrope;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 32px;
          text-align: justify;
          cursor: pointer;
          &-img {
            transition: all 250ms linear;
            &.active {
              transform: rotate(180deg);
            }
          }
        }
        &-description {
          display: none;
          font-family: Manrope;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 32px;
          text-align: justify;
          margin-top: 12px;
          &.active {
            display: block;
          }
        }
      }
    }
  }
}
