@media screen and(max-width: 480px) {
  .workprocess {
    padding: 96px 0;
    &__block {
      margin-bottom: 80px;
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      &-images {
        width: 100%;
      }
      &-content {
        max-width: 528px;
        margin-bottom: 30px;
        &-text {
          font-family: Manrope;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 32px;
          color: #000;
          text-align: justify;
        }
      }
    }
  }
}
@media screen and(min-width: 865px) {
  .workprocess__block-images-img g:hover{
    opacity: 1;
    cursor: pointer;
  }
  .workprocess {
    padding: 96px 0;
    &__block {
      margin-bottom: 80px;
      margin-top: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-images {
        max-width: 528px;
      }
      &-content {
        max-width: 528px;
        &-text {
          font-family: Manrope;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 32px;
          color: #000;
          text-align: justify;
        }
      }
    }
  }
}
