.workprocess {
  padding: 96px 0;
  &__block {
    margin-bottom: 80px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-images {
      max-width: 528px;
    }
    &-content {
      max-width: 528px;
      &-text {
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        color: rgba(76, 60, 144, 1);
        text-align: justify;
      }
    }
  }
}
